@page
@model IndexModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";//****
    ViewData["Title"] = "صفحه ی اصلی - نمایشگاه کتاب بامداد";
}

<header class="row">

    <div class="jumbotron jumbotron-fluid" style="margin-top: 2cm; height: 9cm ; background-image: url(Image/Book-profile-picture-3.jpg) ;" style="width:500px;height:900px;">
        <div class="container" ">
            <h1 class="display-4" style="color: green; text-align: center;">
                بامداد بوک
            </h1>
            <p class="lead" style="font-family: MarkaziText-SemiBold; color:blue; font-size: 20px; text-align: center;">
                جایی برای معرفی بی واسطه فروشندگان به مصرف کنندگان


            </p>
        </div>
    </div>

</header>



<aside class="col-lg-2  col-md-3 col-sm-6 col-xs-12 row pull-right" style="margin-top: 70px;">

    <div class="panel panel-primary" style="margin-top: 2cm;">
        <div class="panel-heading">
            <h4 class="glyphicon glyphicon-user">
                ورود / ثبت نام
            </h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">
                        ايميل
                    </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="ايميل">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">
                        رمز ورودي
                    </label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="رمز ورودي">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> مرا به خاطر داشته باش
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success btn-block">
                            <h4>
                                ورود / ثبت نام
                            </h4>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="list-group" dir="rtl" style="margin-top: 2cm;">
        <a href="#" class="list-group-item active">
            دسته بندي کتاب ها
        </a>
        <a href="#" class="list-group-item">
            <h4>
                عاشقانه
            </h4>
        </a>
        <a href="#" class="list-group-item">
            <h4>
                فلسفه
            </h4>
        </a>
        <a href="#" class="list-group-item">
            <h4>
                سياسي
            </h4>
        </a>
        <a href="#" class="list-group-item">
            <h4>
                کتاب هاي دست هاي دوم
            </h4>
        </a>
        <a href="#" class="list-group-item">
            <h4>
                شعر و ادبيات
            </h4>
        </a>
        <a href="#" class="list-group-item">
            <h4>
                نوجوان و کودک
            </h4>
        </a>
        <a href="#" class="list-group-item">
            <h4>
                آموزش زبان
            </h4>
        </a>
        <a href="#" class="list-group-item">
            <h4>
                فني و مهندسي
            </h4>
        </a>
        <a href="#" class="list-group-item">
            <h4>
                حقوق
            </h4>
        </a>
        <a href="#" class="list-group-item">
            <h4>
                تاريخ
            </h4>
        </a>
        <a href="#" class="list-group-item">
            <h4>
                مجله
            </h4>
        </a>
        <a href="#" class="list-group-item">
            <h4>
                انقلاب و دفاع مقدس
            </h4>
        </a>
        <a href="#" class="list-group-item">
            <h4>
                روان شناسي
            </h4>
        </a>
    </div>

</aside>



<MAIn class="col-lg-10 col-md-9 col-sm-6 col-xs-12 pull-left">

    <p>
        <h2 style="text-align: center; margin-top: 5cm;">
            کتاب هاي تازه
        </h2>
    </p>

    <hr style="height:1px;border:none;color:#333;background-color:#333;" />

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Image/نبرد من.jpg">
                <div class="caption">
                    <h3>
                        کتاب نبرد من اثر هيتلر
                    </h3>
                    <a href="#" class="btn btn-primary" role="button">
                        اطلاعات بيشتر
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Image/باختر.jpg">
                <div class="caption">
                    <h3>
                        باختر اثر هايده معيري
                    </h3>
                    <a href="#" class="btn btn-primary" role="button">
                        اطلاعات بيشتر
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Image/دانستنیها.jpg">
                <div class="caption">
                    <h4>
                        مجله دانستنيها گروه نويسندگان
                    </h4>
                    <a href="#" class="btn btn-primary" role="button">
                        اطلاعات بيشتر
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Image/شرط بندی.jpg">
                <div class="caption">
                    <h3>
                        شرط بندي اثر چخوف
                    </h3>
                    <a href="#" class="btn btn-primary" role="button">
                        اطلاعات بيشتر
                    </a>
                </div>
            </div>
        </div>
    </div>


    <p>
        <h2 style="text-align: center; margin-top: 5cm;">
            کتاب هاي پيشنهادي
        </h2>
    </p>

    <hr style="height:1px;border:none;color:#333;background-color:#333;" />


    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Image/سرود کریسمس.jpg" alt="...">
                <div class="caption">
                    <h3>
                        سرود کريسمس
                    </h3>


                    <p style="font-family:MarkaziText-SemiBold; color:rgb(0, 0, 14); font-size: 20px;"> (1843 ميلادي) (A Christmas Carol ) اسکروچ، نماینده‌ی پیرمرد خسیس، ثروتمند و بداخلاقی است که نه‌تنها خودش در مهمانی کریسمس خواهرزاده‌اش فرد حاضر نمی‌شود، بلکه کارمندش باب کراچیت را نیز آزار داده و مانع دیدار او با خانواده‌اش می‌شود. تا این‌که در شب کریمس ارواحی از جمله روح شریک و دوستش مارلی را می‌بیند که حال و روز بدی دارد و با کشیدن زنجیرهای سنگین، تاوان کارهای زشتش در دنیا را می‌دهد. او به اسکروچ سنگدل هشدار می‌دهد که اگر رفتارش را تغییر ندهد، به سرنوشتی مشابه دچار خواهد شد. اسکروچ صبح کریمس از خواب برمی‌خیزد و ادامه‌ی داستان شرح تغییرات اوست</p>

                    <a href="#" class="btn btn-primary" role="button">
                        اطلاعات بيشتر
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Image/دکتر جکیل.jpg" alt="...">
                <div class="caption">
                    <h3>
                        دکتر جکیل و آقای هاید
                    </h3>



                    <p style="font-family:MarkaziText-SemiBold; color:black; font-size: 20px;">
                        (1886 ميلادي) (Dr Jekyll and Mr Hyde) دکتر جکیل مردی 50 ساله است با بعضی از خصوصیات موذیانه و شیطنت‌آمیز، که گاهی اوقات او را در جدال میان خوب و بد قرار می‌دهد، و او را به سمت چالش میان شخصیت‌های دوگانه خود یعنی هنری جکیل و ادوارد هاید، سوق می‌دهد. او بخش بزرگی از زندگی‌اش را در تلاش برای سرکوب کردن شیطان درونش می‌گذارند. جکیل در طول داستان به مردی ستمگر، شیطانی و قدرتمندتر از خودش به نام آقای هاید، تبدیل می‌شود
                    </p>

                    <a href="#" class="btn btn-primary" role="button">
                        اطلاعات بيشتر
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Image/آرزو های بزرگ.jpg" alt="...">
                <div class="caption">
                    <h3>آرزوي هاي بزرگ</h3>
                    <p style="font-family:MarkaziText-SemiBold; color:black; font-size: 20px;">
                        (1861 ميلادي) (Great Expectations) داستان آرزوهای بزرگ از زبان پسر 7 ساله‌ای به نام «پيپ» روایت  می‌شود و تا 35 سالگی او ادامه پیدا می‌کند. پیپ پسری است كه با خواهر و شوهرخواهر آهنگرش زندگي مي‌كند. آن‌ها زندگی محقر و فروتنانه‌ای را در کلبه‌ای روستایی می‌گذرانند.

                        مدت زمانی می‌گذرد و زنی میانسال و ثروتمند به نام «خانم هاویشام» از پیپ می‌خواهد تا گاهی برای حرف زدن و همنشینی به او سر بزند. هاویشام زنی بداخلاق است که در عمارتی قدیمی، فرسوده و نامرتب، که در آن غم و اندوه گذشته موج می‌زند زندگی می‌کند. معشوقه‌ی خانم هاویشام در گذشته‌ و درست هنگام مراسم عروسی، او را ظالمانه ترک کرده است. به همین دلیل او از مردها متنفر است و می‌خواهد که از مردها انتقام بگیرد
                    </p>

                    <a href="#" class="btn btn-primary" role="button">
                        اطلاعات بيشتر
                    </a>
                </div>
            </div>
        </div>

    </div>

</MAIn>